@font-face {
    font-family: "iconfont";
    src: url("font/iconfont.eot"); /* IE9*/
    src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("font/iconfont.woff") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */
         url("font/iconfont.ttf")  format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("font/iconfont.svg#rei") format("svg"); /*  iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
.iconfont {
    font-family: "iconfont";
    font-style: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}
